extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Add new event

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='name') Name
      .col-md-8
        input.form-control(type='text', name='name', id='name', autocomplete='name', autofocus=true)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='category') Name
      .col-md-8
        select(name='category', id='category')
          each category in categories
            option(value=category._id)= category.name
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='date') Date
      .col-md-8
        input.form-control(type='date', name='date', id='date', autocomplete='date')
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='description') Description
      .col-md-8
        textarea.form-control(name='description', id='description', rows='7')
    .form-group
      .offset-md-2.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          i.far.fa-envelope.fa-sm
          | Send
